.main-service {
    margin-top: 120px;
    margin-bottom: 120px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .title-service {
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0;
        text-align: left;
        color: #122E38;
        margin-top: 30px;

    }

    .describe-service {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0;
        text-align: left;
        color: black;
    }

    .title-2-service {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        color: black;

    }

    .describe-2-service {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0;
        text-align: left;
        color: black;

    }

    .true-service {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0;
        text-align: left;
        color: black;

    }

    .mo-ta-service {
        margin-top: 70px;

        .title-3-service {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0;
            text-align: left;

        }

        .describe-3-service {
            margin-top: 12px;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0;
            text-align: left;

        }
    }

}
.comments-top {
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;

}
.border-bottom-comment {
    border-bottom: 4px solid #EC5938;
    width: 120px;
    border-radius: 4px;
    margin-top: 8px;
}

.card-comment {
    margin-top: 32px !important;
    .card-title-comment {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

    }

    .date-comment {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #9C9C9C;
        margin: 8px 0;

    }

    .comment {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;

    }

    .btn-comment {
        margin-top: 12px;
        border: 1px solid #EC5938;
        width: 74px;
        height: 33px;
        padding: 8px 16px 8px 16px;
        gap: 10px;
        color: #EC5938;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        &:hover {
            background-color: #EC5938;
            color: #FFFFFF;
        }


    }
}
.post-comment {
    input {
        width: 100%;
        height: 55px;
        border-radius: 8px;
        border: 1px solid #A9A9A9;
        padding: 16px;
        margin-top: 30px;
        font-size: 17px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        color: #929292;

    }

    textarea {
        width: 100%;
        height: 226px;
        padding: 32px 16px 16px 32px;
        gap: 10px;
        border-radius: 4px;
        border: 1px solid #A9A9A9;
        margin-top: 30px;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        color: #929292;


    }
}
.btn-comment-tags {
    /*margin-top: 12px;*/
    border: 1px solid #EC5938;
    height: 33px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    color: #EC5938;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    &:hover {
        background-color: #EC5938;
        color: #FFFFFF;
    }
}
.tags-content {
    margin-right: 24px;
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;


}
.border-top-bottom {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 16px 0;
    border-color: #D6D6D6;
}
.name-blog-search {
    width: 100%;
    height: 48px;
    padding: 14px 16px;
    border: 1px solid #D4D4D4;
    background: #FFFFFF;
    outline: none;
}
.svg-search {
    background: red;
    width: 45px;
    height: 48px;
    padding: 11px;
}
.label-search {
    position: absolute;
    right: 39px;
}
.cmt-blog {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 8px;

}
.sub-color {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #424242;
}
.hover-category {
    .view-category {
        padding: 10px;
        background: white;
        border-radius: 54px;
        align-items: center;
        display: flex;
        height: 30px;
        width: 30px;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #EC5938;
    }
    .category-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
    }
    &:hover {
        .view-category {
            color: #FFFFFF;
            background-color: #EC5938;
        }
        .category-title {
            color: #EC5938;
        }
    }
}

.border-bottom-category {
    border-bottom: 1px solid #AFAFAF;
}
.btn-category {
    background: #FFFFFF;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    &:hover {
        background-color: #EC5938;
        color: #FFFFFF;
    }

}
.comments-top {
    margin-top: 32px !important;
}
