.background-content-about-us {
    background: url(../img/background-img/background-about-us.png) no-repeat 100% 100%;
    background-size: cover;
    height: 100%;
    margin-top: 80px;
    .title-about-us {
        font-size: 40px;
        font-weight: 800;
        line-height: 49px;
        letter-spacing: 0;
        text-align: start;
    }
    .describe-about-us {
        margin-top: 24px;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0;
        text-align: left;

    }
}
.text-container {
    margin-top: 40px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    .small-text {
        position: absolute;
        z-index: 1; /* Đảm bảo chữ nhỏ hiển thị trên chữ lớn */
        font-size: 40px;
        font-weight: 900;
        line-height: 49px;
        letter-spacing: 0;
        text-align: left;

    }

    .big-text {
        font-size: 96px;
        font-weight: 900;
        line-height: 117px;
        letter-spacing: 0;
        text-align: left;
        color: #0000000D;
    }
}

.mo-ta-about-us {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
    color: black;

}
